.div-container{
    border: 3px dashed red;

    text-align: center;
    margin: 5%;
}
.box-one{
    border: 3px solid black;
    background-color: beige;
    padding: 5%;
    margin: 1%;
}
.box-two{
    border: 3px solid black;
    background-color: beige;
    padding: 5%;
    margin: 1%;
}