.container{
    width: 80vw;
    margin: 0 auto;

}

.grid-item{
    width: 240px;
    height: 240px;
    margin: 2px;
}

#box-1{
    background-color: yellow;
    border: 2px solid black;
}
#box-2{
    background-color: yellow;
    border: 2px solid black;
}
#box-3{
    background-color: yellow;
    border: 2px solid black;
}