body{
    font-family: 'Vesper Libre', serif;
    color:rgb(207, 19, 107);
}

.section-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:rgb(207, 19, 107);
    text-transform: uppercase;
    font-size: 240%;
    margin-bottom: 25px;
}

.about-section{
    width: 100vw;
    height: 90vh;
}

.about-container{
    width: 85%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

.left-div{
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    line-height: 220%;
    font-weight: bold;
    letter-spacing: .8px;
}

.right-div{
    width: 40%;
    margin: 0 auto;

}

.grid-image-one{
    width: 50%;
    height: 240px;
    background-image: url(./pictures/cow1.avif);
    background-size: cover;
    background-position: center;
}
.grid-image-two{
    width: 50%;
    height: 240px;
    background-image: url(./pictures/coverPhoto.avif);
    background-size: cover;
    background-position: center;
}
.grid-image-three{
    width: 50%;
    height: 240px;
    background-image: url(./pictures/cow2.avif);
    background-size: cover;
    background-position: center;
}
.grid-image-four{
    width: 50%;
    height: 240px;
    background-image: url(./pictures/donut10.avif);
    background-size: cover;
    background-position: center;
}