table, th, td{
    border: 1px solid black;
    
}

table{
    margin: 0 auto;
    width: 400px;
    height: 240px;
    border-collapse: collapse;
}

th{
    padding: 15px;

}
td{
    padding: 5px;
    text-align: center;
}